<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.Dataviz.WinForms" version="2.1.4" targetFramework="net46" />
  <package id="Bunifu.UI.WinForms" version="4.0.0" targetFramework="net46" />
  <package id="NModbus" version="3.0.61" targetFramework="net45" requireReinstallation="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
  <package id="Vanara.Core" version="3.2.7" targetFramework="net461" />
  <package id="Vanara.PInvoke.Shared" version="3.2.7" targetFramework="net461" />
  <package id="Vanara.PInvoke.WinINet" version="3.2.7" targetFramework="net461" />
</packages>